<div class="jumbotron py-3">
  <h1 class="display-4 text-center"style="text-decoration: underline;font-weight: bold;">Users List</h1>
  <div class=" text-center" style="font-size: medium; font-weight: bold;">Hello<span class=" text-center" style="color: darkred; font-size: xx-large; font-weight: normal;"> {{myUserName}}</span></div>

</div>
<div><button (click)="logout()" class="btn btn-danger">Sign Out</button></div>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">FirstName</th>
      <th scope="col">LastName</th>
      <th scope="col">UserName</th>
      <th scope="col">Email</th>
      <th scope="col">Role</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of allUsers">
      <th scope="row">{{user.id}}</th>
      <td>{{user.firstName}}</td>
      <td>{{user.lastName}}</td>
      <td>{{user.userName}}</td>
      <td>{{user.email}}</td>
      <td>{{user.role}}</td>
    </tr>
   
  </tbody>
</table>





