<!-- <section class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-dark text-white" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">

            <div class="mb-md-5 mt-md-4 pb-5">

              <h2 class="fw-bold mb-2 text-uppercase">SignUp</h2>
              <p class="text-white-50 mb-5">Please enter your Name and Email!</p>
              <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
              <div class="form-outline form-white mb-4" [class.error]="signupForm.controls['firstname'].dirty && signupForm.hasError('required','firstname')">
                <input type="email" formControlName="firstname" id="typeEmailX" placeholder="First Name" class="form-control form-control-lg" />
                <span class="fa fa-lock p-2"></span>
              </div>
              <small *ngIf="signupForm.controls['firstname'].dirty && signupForm.hasError('required','firstname')" class="text-danger">The First Name Is Required</small>

              <div class="form-outline form-white mb-4" [class.error]="signupForm.controls['lastname'].dirty && signupForm.hasError('required','lastname')">
                <input type="email" formControlName="lastname" id="typeEmailX" placeholder="Last Name" class="form-control form-control-lg" />
                <span class="fa fa-lock p-2"></span>
              </div>
              <small *ngIf="signupForm.controls['lastname'].dirty && signupForm.hasError('required','lastname')" class="text-danger">The Last Name Is Required</small>

              <div class="form-outline form-white mb-4" [class.error]="signupForm.controls['username'].dirty && signupForm.hasError('required','username')">
                <input type="email" id="typeEmailX" formControlName="username" placeholder="User Name" class="form-control form-control-lg" />
                <span class="fa fa-lock p-2"></span>
              </div>
              <small *ngIf="signupForm.controls['username'].dirty && signupForm.hasError('required','username')" class="text-danger">The User Name Is Required</small>

              <div class="form-outline form-white mb-4" [class.error]="signupForm.controls['email'].dirty && signupForm.hasError('required','email')">
                <input type="email" id="typeEmailX" formControlName="email" placeholder="Email" class="form-control form-control-lg" />
                <span class="fa fa-lock p-2"></span>
              </div>
              <small *ngIf="signupForm.controls['email'].dirty && signupForm.hasError('required','email')" class="text-danger">The Email Is Required</small>

              <div class="form-outline form-white mb-4" [class.error]="signupForm.controls['password'].dirty && signupForm.hasError('required','password')">
                <input [type]="type" id="typePasswordX" formControlName="password" placeholder="Password" class="form-control form-control-lg" />
                <span (click)="showHiddenPassword()" class="fa {{eyeIcon}}"> </span>
              </div>
              <small *ngIf="signupForm.controls['password'].dirty && signupForm.hasError('required','password')" class="text-danger">The Password Is Required</small>

              <button [disabled]="signupForm.invalid" class="btn btn-outline-light btn-lg px-5" type="submit">Sign Up</button>
            </form>
            </div>
            <div>
              <p class="mb-0">I have an account? <a href="/login" class="text-white-50 fw-bold">Log In</a>
              </p>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>

 -->





<section class="gradient-custom" style="height: calc(100vh - 52px);">
  <div class="login-page"> 
   <div class="form">
     <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
      <h2 class="fw-bold mb-2 text-uppercase" style="color: rgb(19, 45, 88);padding-bottom: 20px;text-decoration: underline;">New User</h2>


       <div [class.error]="signupForm.controls['firstname'].dirty && signupForm.hasError('required','firstname')">
         <input type="text" formControlName="firstname" placeholder="First Name"/>
       </div>
       <small *ngIf="signupForm.controls['firstname'].dirty && signupForm.hasError('required','firstname')" class="text-danger">The UserName Is Required</small>



       <div [class.error]="signupForm.controls['lastname'].dirty && signupForm.hasError('required','lastname')">
        <input type="text" formControlName="lastname" placeholder="Last Name"/>
      </div>
      <small *ngIf="signupForm.controls['lastname'].dirty && signupForm.hasError('required','lastname')" class="text-danger">The UserName Is Required</small>



      <div [class.error]="signupForm.controls['username'].dirty && signupForm.hasError('required','username')">
        <input type="text" formControlName="username" placeholder="UserName"/>
      </div>
      <small *ngIf="signupForm.controls['username'].dirty && signupForm.hasError('required','username')" class="text-danger">The UserName Is Required</small>



      <div [class.error]="signupForm.controls['email'].dirty && signupForm.hasError('required','email')">
        <input type="text" formControlName="email" placeholder="Email"/>
      </div>
       <small *ngIf="signupForm.controls['email'].dirty && signupForm.hasError('required','email')" class="text-danger">The UserName Is Required</small>
       
       
       <div [class.error]="signupForm.controls['password'].dirty && signupForm.hasError('required','password')">
        <i (click)="showHiddenPassword()" class="fa {{Icon}}" style=" float: right;margin-right: 15px;margin-top: 20px;position: absolute;right: 37px;z-index: 2;"></i>    
         <input [type]="type" formControlName="password" placeholder="PassWord"/>  
         <small *ngIf="signupForm.controls['password'].dirty && signupForm.hasError('required','password')" class="text-danger">The Password Is Required</small>
        </div>
       
       
       <button [disabled]="signupForm.invalid" type="submit">Sign Up</button>
       <p class="message">I Have Account? <a href="/login">Log In</a></p>
     </form>
   </div>
 </div>
 </section>


