<div class="jumbotron py-3">
  <h1 class="display-4 text-center"style="text-decoration: underline;font-weight: bold;">Categories List</h1>
</div>
<div><button (click)="logout()" class="btn btn-danger">Sign Out</button></div>
<div><a href="/users">ALL Users</a></div>
<div class="row" >
  <!-- <div class="col-md-6">
      <app-payment-detail-form></app-payment-detail-form>
  </div> -->

    <div class="col-md-4" style="margin-top: 23px;" *ngFor="let item of finalResult">
    <div class="card">
      <div class="card-body">
        <button (click)="getMoviesByCategory($event)"><h5 class="card-title" id="{{item.id}}">{{item.name}}</h5></button>
      </div>
    </div>
  </div>
</div>