
 <section class="gradient-custom" style="height: calc(100vh - 52px);">
 <div class="login-page">
  <div class="form">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <h2 class="fw-bold mb-2 text-uppercase" style="color: rgb(19, 45, 88);padding-bottom: 20px;text-decoration: underline;">Exist User</h2>


      <div [class.error]="loginForm.controls['username'].dirty && loginForm.hasError('required','username')">
        <input type="text" formControlName="username" placeholder="UserName"/>
      </div>
      <small *ngIf="loginForm.controls['username'].dirty && loginForm.hasError('required','username')" class="text-danger">The UserName Is Required</small>
      
      
      <div [class.error]="loginForm.controls['password'].dirty && loginForm.hasError('required','password')">
        <i (click)="showHiddenPassword()" class="fa {{Icon}}" style=" float: right;margin-right: 15px;margin-top: 20px;position: absolute;right: 37px;z-index: 2;"></i> 
        <!-- <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="remove-red-eye"></mat-icon> -->
        <input [type]="type" formControlName="password" placeholder="Password"/>  
      </div>
      <div *ngIf="loginForm.controls['password'].dirty && loginForm.hasError('required','password')" class="text-danger">The Password Is Required</div>
      
      
      <button [disabled]="loginForm.invalid" type="submit">login</button>
      <div class="small pt-1"><a id="forgot" (click)="openForgetPasswordModal()" style="color: rgb(17, 44, 94);cursor: pointer;">Forgot password?</a></div>
      <p class="message">Not registered? <a href="/signup">Create an account</a></p>
    </form>
  </div>
</div>
</section>





<div class="modal" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <p class="modal-title" id="exampleModalLabel"> <span style="font-size: 25px;font-weight:700">Forget your password?</span><br>
                  <small>Please provide your E-mail we will send the reset link</small></p>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <div class="form-group pt-3">
                  <div class="input-field"> <span class="fa fa-user p-2"></span><input type="text" (ngModelChange)="checkValidEmail($event)" [(ngModel)]="resetPasswordEmail" placeholder="Email"> </div>
              </div>
              <small *ngIf="!resetPasswordEmail" class="text-danger">*Email is required*</small>
              <small *ngIf="resetPasswordEmail && !isValidEmail" class="text-danger">*Email is InValid*</small>
          </div>
          <div class="modal-footer">
              <button id="closeBtn" type="button" class="btn btn-secondary" (click)="closeForgetPasswordModal()">Close</button>
              <button type="button" (click)="confirmEmailToSend()" class="btn btn-primary">Send</button>
          </div>
      </div>
  </div>
</div>




