<div class="jumbotron py-3">
  <h1
    class="display-4 text-center"
    style="text-decoration: underline; font-weight: bold">
    Movies List
  </h1>
</div>
<div><button (click)="logout()" class="btn btn-danger">Sign Out</button></div>
<div><button (click)="openModal()" class="btn btn-danger">Add Movie</button></div>
<div><a href="/users">ALL Users</a></div>
<div class="row" *ngIf="!finalResult || finalResult.length == 0">
  
  <div class="spinner-overlay" >
    <div class="center">
    <mat-spinner></mat-spinner>
  </div>
  </div>
</div>
<div class="row" *ngIf="finalResult && finalResult.length > 0">
  <!-- <div class="col-md-6">
      <app-payment-detail-form></app-payment-detail-form>
  </div> -->
  <div
    class="col-md-4"
    style="margin-top: 23px"
    *ngFor="let item of finalResult"
  >
    <div class="card">
      <img
        style="width: 200px; height: 200px"
        src="{{ url }}"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">{{ item.title }}</h5>
        <p class="card-text">{{ item.categoryName }}</p>
        <p class="card-text">
          <small class="text-muted">{{ item.rate }}</small>
        </p>
      </div>
    </div>
  </div>
</div>





<!-- Modal -->
<div class="modal" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="createMovieForm" (ngSubmit)="addMovie()">
          <div class="form-group">
            <label for="exampleInputTitle">Title</label>
            <input formControlName="title" type="text" class="form-control" id="exampleInputTitle" aria-describedby="titleHelp" placeholder="Title">
          </div>
          <div class="form-group">
            <label for="exampleInputTitle">Year</label>
            <input formControlName="year" type="text" class="form-control" id="exampleInputTitle" aria-describedby="titleHelp" placeholder="Year">
          </div>
          <div class="form-group">
            <label for="exampleInputTitle">Poster</label>
            <input formControlName="poster"  type="file" class="form-control" id="imageInput" aria-describedby="titleHelp" placeholder="Poster">
          </div>
          <div class="form-group">
            <label for="exampleInputTitle">Rate</label>
            <input formControlName="rate" type="text" class="form-control" id="exampleInputTitle" aria-describedby="titleHelp" placeholder="Rate">
          </div>
          <div class="form-group">
            <label for="exampleInputTitle">Store Line</label>
            <input formControlName="storeLine" type="text" class="form-control" id="exampleInputTitle" aria-describedby="titleHelp" placeholder="Store Line">
          </div>
          <div class="form-group">
            <label for="exampleInputTitle">Category Name</label>
            <input formControlName="categoryName" type="text" class="form-control" id="exampleInputTitle" aria-describedby="titleHelp" placeholder="Category Name">
          </div>
          <div class="form-group">
            <label for="exampleInputTitle">Category ID</label>
            <input formControlName="categoryId" type="text" class="form-control" id="exampleInputTitle" aria-describedby="titleHelp" placeholder="Category ID">
          </div>
          <br>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
