<div>
<div class="jumbotron py-3">
  <h1 class="display-4 text-center"style="text-decoration: underline;font-weight: bold;">Categories List</h1>
</div>
<div><button (click)="logout()" class="btn btn-danger">Sign Out</button></div>
<button type="button" class="btn btn-primary" (click)="openModal()">
  Launch demo modal
</button>
<div><a href="/users">ALL Users</a></div>
<div class="row" >
  <!-- <div class="col-md-6">
      <app-payment-detail-form></app-payment-detail-form>
  </div> -->

    <div class="col-md-4" style="margin-top: 23px;" *ngFor="let item of finalResult">
    <div class="card">
      <div class="card-body">
        <button (click)="getMoviesByCategory($event)"><h5 class="card-title" id="{{item.id}}">{{item.name}}</h5></button>
      </div>
    </div>
  </div>
</div>
</div>



<div class="modal" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="createCategoryForm" (ngSubmit)="addCategory()">
          <div class="form-group">
            <label for="exampleInputEmail1">Category Name</label>
            <input formControlName="name" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Category Name">
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>